* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.header,
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 350px;
}

.container__left {
    padding: 37px 30px 5px 30px;
    width: 500px;
}
.header__img {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.header__img_container {
    width: 300px;
    height: 300px;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.container__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding: 0px 30px 0px 30px;
}

.header__right_title {
    font-size: 5em;
}

.header__right_subtitle {
    font-size: 2em;
    color: #00A893;
}

address {
    font-size: 2em;
}

.main {
    height: 100%;
}

.main__first {
    height: 350px;
}

.divider__left {
    margin-top: 5px;
    border: 2px solid #000;
}

.contact {
    margin: 20px 0;
}

.contact h2,
.container__right h2,
.courses h2,
.character h2,
.language h2,
.hobby h2,
.code h2,
.education h2 {
    padding: 10px;
    padding-left: 0;
    font-size: 2em;
    color: #00A893;
    text-align: left;
}

.navigation,
.education,
.courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation li {
    list-style-type: none;
    font-size: 2em;
    padding: 15px 15px 15px 0;
}

.navigation li a,
.courses ul li a,
.self ul li a,
.language ul li a,
.code ul li a {
    text-decoration: none;
}

.navigation li img {
    width: 25px;
}

.divider__right {
    margin: 20px 0;
    border: 2px solid #000;
    width: 100%;
}

.container__right p,
.container__right cite {
    padding: 5px 15px 5px 0;
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5;
}

.education p,
.language span {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
}

.courses ul li,
.language ul li,
.code ul li,
.work ul li {
    list-style-type: none;
    font-size: 1.1em;
    padding: 5px 15px 5px 0;
}

.self h2 {
    margin-top: 29px;
}

.self ul {
    margin-left: 20px;
    font-size: 1.1em;
    text-align: left;
    
}

.self ul li {
    padding-bottom: 6px;
}

.self ul li:active {
    color: #0017EF;
}

.language ul li {
    padding-right: 10px;
    font-size: 1.2em;
    line-height: 1.5;
}

.character {
    margin-top: 5px;
    margin-bottom: 10px;
}

.character p {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify; 
}

.language ul {
   display: flex;
   flex-wrap: wrap;
}

.hobby div {
    display: flex;
    justify-content: space-around;
}

.hobby img {
    width: 40px;
}

.work {
    font-size: 0.9em;
}

.code {
    margin-top: -43px;
}

.hobby {
    margin-bottom: 75px;
}
